In [142]:
from sklearn import datasets
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import datetime
import numpy as np

# get data from web scraping

In [238]:
df = pd.read_csv('Best_Books_Ever.csv')

In [239]:
df.head()

,title,author,published_date,rating,rating_n,review_n,introduction,genre,page,books_written_n,author_followers,link
0,The Hunger Games,Suzanne Collins,"First published September 14, 2008",4.33,"7,938,345 ratings","195,436 reviews","Could you survive on your own in the wild, wit...","['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","374 pages, Hardcover",49,93k,https://www.goodreads.com/book/show/2767052-th...
1,Harry Potter and the Order of the Phoenix,J.K. Rowling,"First published June 21, 2003",4.50,"3,138,144 ratings","56,851 reviews",Harry Potter is about to start his fifth year ...,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","912 pages, Paperback",562,221k,https://www.goodreads.com/book/show/2.Harry_Po...
2,Pride and Prejudice,Jane Austen,"First published January 28, 1813",4.28,"3,930,925 ratings","99,795 reviews","Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...","279 pages, Paperback","3,939",62.1k,https://www.goodreads.com/book/show/1885.Pride...
3,To Kill a Mockingbird,Harper Lee,"First published January 1, 1960",4.27,"5,675,438 ratings","109,843 reviews",The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...","336 pages, Paperback",69,12.9k,https://www.goodreads.com/book/show/2657.To_Ki...
4,The Book Thief,Markus Zusak,"First published March 1, 2006",4.39,"2,357,114 ratings","135,561 reviews",Librarian's note: An alternate cover edition c...,"['Historical Fiction', 'Fiction', 'Young Adult...","552 pages, Hardcover",27,38.1k,https://www.goodreads.com/book/show/19063.The_...

# data cleaning

In [240]:
df.shape

(8899, 12)

In [245]:
df.dtypes

title                object
author               object
published_date       object
rating              float64
rating_n             object
review_n             object
introduction         object
genre                object
page                 object
books_written_n      object
author_followers     object
link                 object
dtype: object

### NaN value

In [241]:
df.isna().sum()

title                61
author               61
published_date       94
rating               61
rating_n             61
review_n             61
introduction        101
genre                61
page                 77
books_written_n      62
author_followers     82
link                  0
dtype: int64

In [244]:
df[df['title'].isna()].head()

,title,author,published_date,rating,rating_n,review_n,introduction,genre,page,books_written_n,author_followers,link
272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/39280444-s...
1395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/13089710-t...
1505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/56060300-h...
1530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/20698530-p...
1532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/12875258-t...

In [247]:
df = df.dropna(subset=['title'])

In [248]:
df.isna().sum()

title                0
author               0
published_date      33
rating               0
rating_n             0
review_n             0
introduction        40
genre                0
page                16
books_written_n      1
author_followers    21
link                 0
dtype: int64

#### deal with publieshed_date

In [210]:
df['publieshed_date'] = df['publieshed_date'].str.split('shed',expand=True)[1]

In [211]:
df['publieshed_date'].str.split(' ', expand=True)

,0,1,2,3,4,5,6,7,8,9,...,87,88,89,90,91,92,93,94,95,96
0,,October,"16,",2007,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,,March,"9,",2010,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,,December,"29,",1982,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,,February,"15,",1992,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,,January,"1,",2004,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,,October,"15,",2013,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
796,,November,"19,",2014,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
797,,October,"14,",2014,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
798,,November,"1,",2018,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
799,,May,"7,",2010,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [212]:
# Create a new column for year
df['published_year'] = df['publieshed_date'].str.split(' ', expand=True)[3]
df['published_year'] = pd.to_numeric(df['published_year'], errors='coerce')

# Create a new column for month
df['published_month'] = df['publieshed_date'].str.split(' ', expand=True)[1]

month_dict = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6,
              'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}
df['published_month'] = df['published_month'].fillna('0').map(month_dict)

# Create a new column for day
df['published_day'] = df['publieshed_date'].str.split(' ', expand=True)[2]
df['published_day'] = df['published_day'].str.rstrip(',')
df['published_day'] = pd.to_numeric(df['published_day'], errors='coerce')

In [213]:
df.isna().sum()

title                60
author               60
publieshed_date     374
rating               60
rating_n             60
review_n             60
introduction         99
genre                60
page                 76
books_written_n      61
author_followers     81
link                  0
published_year      380
published_month     380
published_day       379
dtype: int64

In [234]:
df[df['published_year'].isna()].head(60)

,title,author,publieshed_date,rating,rating_n,review_n,introduction,genre,page,books_written_n,author_followers,link,published_year,published_month,published_day,published_date
199,Fantastic Beasts and Where to Find Them,Newt Scamander,"First published March 1, 2001",3.97,"387,224 ratings","12,157 reviews",A copy of Fantastic Beasts and Where to Find T...,"['Fantasy', 'Fiction', 'Young Adult', 'Childre...",Proceeds from the sale of this book will go to...,2,114,https://www.goodreads.com/book/show/41899.Fant...,NaN,NaN,NaN,"First published March 1, 2001"
229,Bird by Bird: Some Instructions on Writing and...,Anne Lamott,"First published May 5, 1994",4.23,"95,361 ratings","9,414 reviews",A newer edition of this title can be found her...,"['Writing', 'Nonfiction', 'Memoir', 'Self Help...","With this basic instruction always in mind, An...",85,"8,662",https://www.goodreads.com/book/show/12543.Bird...,NaN,NaN,NaN,NaN
265,"""Surely You're Joking, Mr. Feynman!"": Adventur...",Richard P. Feynman,None,4.27,"190,712 ratings","7,361 reviews",A New York Times bestseller—the outrageous exp...,"['Science', 'Nonfiction', 'Biography', 'Physic...",A New York Times bestseller—the outrageous exp...,193,"5,481",https://www.goodreads.com/book/show/35167685-s...,NaN,NaN,NaN,NaN
274,The Manufactured Identity,Heath Sommer,"First published June 23, 2009",3.50,423 ratings,110 reviews,Months after his mysterious disappearance from...,"['Mystery', 'Psychology', 'Fiction', 'Thriller...",Months after his mysterious disappearance from...,4,288,https://www.goodreads.com/book/show/6507691-th...,NaN,NaN,NaN,NaN
307,The Iron Knight,Julie Kagawa,"First published October 26, 2011",4.18,"83,639 ratings","4,866 reviews",My name - my True Name - is Ashallayn’ darkmyr...,"['Fantasy', 'Young Adult', 'Romance', 'Paranor...","To cold faery prince Ash, love was a weakness ...",94,24.7k,https://www.goodreads.com/book/show/9659607-th...,NaN,NaN,NaN,NaN
379,The Alexandria Quartet,Lawrence Durrell,"First published January 1, 1960",4.17,"11,699 ratings",502 reviews,Lawrence Durrell's series of four novels set i...,"['Fiction', 'Classics', 'Historical Fiction', ...",One L.G. Darley is the primary observer of the...,230,765,https://www.goodreads.com/book/show/13033.The_...,NaN,NaN,NaN,NaN
395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/13089710-t...,NaN,NaN,NaN,NaN
398,L'Écume des jours,Boris Vian,None,3.95,"34,226 ratings","1,667 reviews","Chick, Alise, Chloé et Colin passent leur temp...","['Fiction', 'France', 'Classics', 'French Lite...",Pied de nez aux conventions romanesques et à l...,330,"1,566",https://www.goodreads.com/book/show/141828.L_c...,NaN,NaN,NaN,NaN
428,Red Storm Rising,Tom Clancy,"First published August 28, 1986",4.19,"77,186 ratings","1,335 reviews","""Allah!""With that shrill cry, three Muslim ter...","['Fiction', 'Thriller', 'Military Fiction', 'W...","With that shrill cry, three Muslim terrorists ...",567,"7,512",https://www.goodreads.com/book/show/318525.Red...,NaN,NaN,NaN,NaN
454,The DUFF: Designated Ugly Fat Friend,Kody Keplinger,"First published September 7, 2010",3.80,"191,310 ratings","12,749 reviews",Seventeen-year-old Bianca Piper is cynical and...,"['Young Adult', 'Romance', 'Contemporary', 'Fi...",Until it all goes horribly awry. It turns out ...,14,"6,775",https://www.goodreads.com/book/show/6931356-th...,NaN,NaN,NaN,NaN
457,Eye of the Needle,Ken Follett,None,4.20,"149,139 ratings","3,715 reviews",One enemy spy knows the secret to the Allies' ...,"['Fiction', 'Historical Fiction', 'Thriller', ...",One enemy spy knows the secret to the Allies' ...,369,50.8k,https://www.goodreads.com/book/show/92364.Eye_...,NaN,NaN,NaN,NaN
465,Firelight,Sophie Jordan,None,3.85,"67,324 ratings","4,806 reviews",A hidden truth. Mortal enemies. Doomed love....,"['Fantasy', 'Young Adult', 'Dragons', 'Romance...",A hidden truth. Mortal enemies. Doomed love.,68,"8,053",https://www.goodreads.com/book/show/6448470-fi...,NaN,NaN,NaN,NaN
493,Reading Lolita in Tehran: A Memoir in Books,Azar Nafisi,None,3.64,"130,981 ratings","8,566 reviews",Every Thursday morning for two years in the Is...,"['Nonfiction', 'Memoir', 'Biography', 'Iran', ...",Every Thursday morning for two years in the Is...,21,"2,163",https://www.goodreads.com/book/show/7603.Readi...,NaN,NaN,NaN,NaN
505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/56060300-h...,NaN,NaN,NaN,NaN
528,The Right Stuff,Tom Wolfe,None,4.22,"50,985 ratings","1,967 reviews",Tom Wolfe began The Right Stuff at a time when...,"['Nonfiction', 'History', 'Science', 'Space', ...",Wolfe's roots in New Journalism were intertwin...,139,"2,534",https://www.goodreads.com/book/show/8146619-th...,NaN,NaN,NaN,NaN
530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/20698530-p...,NaN,NaN,NaN,NaN
532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/12875258-t...,NaN,NaN,NaN,NaN
533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/509784.The...,NaN,NaN,NaN,NaN
534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/31076583-a...,NaN,NaN,NaN,NaN
535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/248484.Boo...,NaN,NaN,NaN,NaN
548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/6080337-th...,NaN,NaN,NaN,NaN
549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/4835.Harou...,NaN,NaN,NaN,NaN
550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/16033842-l...,NaN,NaN,NaN,NaN
553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/13615.Deat...,NaN,NaN,NaN,NaN
557,Identical,Ellen Hopkins,NaN,4.30,"60,950 ratings","3,939 reviews",Do twins begin in the womb?Or in a better plac...,[],"First published September 19, 2008",48,16.9k,https://www.goodreads.com/book/show/2241059.Id...,NaN,NaN,NaN,NaN
558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/767171.The...,NaN,NaN,NaN,NaN
559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/11947829-a...,NaN,NaN,NaN,NaN
560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/106264.Sar...,NaN,NaN,NaN,NaN
561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/11561469-r...,NaN,NaN,NaN,NaN
562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/704043.Kis...,NaN,NaN,NaN,NaN
563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/1314332.Be...,NaN,NaN,NaN,NaN
608,The Egyptian,Mika Waltari,None,4.18,"23,419 ratings","1,332 reviews",The only Finnish novel adopted into a Hollywoo...,"['Historical Fiction', 'Fiction', 'Classics', ...",Mika Waltari's 1945 novel The Egyptian was tur...,180,589,https://www.goodreads.com/book/show/26216087-t...,NaN,NaN,NaN,NaN
667,"Men Are from Mars, Women Are from Venus",John Gray,None,3.58,"184,370 ratings","7,147 reviews","Once upon a time Martians and Venusians met, f...","['Nonfiction', 'Self Help', 'Psychology', 'Rel...","Once upon a time Martians and Venusians met, f...",275,"1,964",https://www.goodreads.com/book/show/1274.Men_A...,NaN,NaN,NaN,NaN
699,The Constant Princess,Philippa Gregory,None,3.92,"159,617 ratings","5,022 reviews",Splendid and sumptuous historical novel from t...,"['Historical Fiction', 'Fiction', 'Historical'...",Splendid and sumptuous historical novel from t...,157,32.7k,https://www.goodreads.com/book/show/16181.The_...,NaN,NaN,NaN,NaN
703,The Steps: 12 Secrets To Raising Happy and Suc...,Andrew Watson,None,4.53,81 ratings,25 reviews,"As parents, we are always searching for ways t...","['Parenting', 'Childrens']","As parents, we are always searching for ways t...",3,8,https://www.goodreads.com/book/show/52775419-t...,NaN,NaN,NaN,NaN
755,The Executioner's Song,Norman Mailer,None,4.06,"20,762 ratings","1,488 reviews","In what is arguably his greatest work, America...","['Nonfiction', 'True Crime', 'Crime', 'Biograp...",Norman Mailer tells Gilmore's story--and those...,299,"1,187",https://www.goodreads.com/book/show/12468.The_...,NaN,NaN,NaN,NaN
780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/156427.Psycho,NaN,NaN,NaN,NaN
786,The Hour I First Believed,Wally Lamb,None,3.82,"61,365 ratings","6,713 reviews","Wally Lamb's two previous novels, She's Come U...","['Fiction', 'Historical Fiction', 'Contemporar...","In The Hour I First Believed, Lamb travels wel...",20,"7,214",https://www.goodreads.com/book/show/3086160-th...,NaN,NaN,NaN,NaN
826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/1427.The_Z...,NaN,NaN,NaN,NaN
827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/2459785.In...,NaN,NaN,NaN,NaN
829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/28257707-t...,NaN,NaN,NaN,NaN
830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/14748.Good...,NaN,NaN,NaN,NaN
832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/616828.Hea...,NaN,NaN,NaN,NaN
840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/823.Quicks...,NaN,NaN,NaN,NaN
841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/8788554-fi...,NaN,NaN,NaN,NaN
842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/15197.Maus_II,NaN,NaN,NaN,NaN
843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/1811543.Ma...,NaN,NaN,NaN,NaN
844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/316845.The...,NaN,NaN,NaN,NaN
846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/10560331-o...,NaN,NaN,NaN,NaN
864,The Immortals of Meluha,Amish Tripathi,None,4.12,"117,527 ratings","6,536 reviews",1900 BC. In what modern Indians mistakenly cal...,"['Fiction', 'Fantasy', 'Mythology', 'Indian Li...",The only hope for the Suryavanshis is an ancie...,31,"6,875",https://www.goodreads.com/book/show/7913305-th...,NaN,NaN,NaN,NaN
6,Homo Deus: A History of Tomorrow,Yuval Noah Harari,None,4.22,"227,275 ratings","15,010 reviews","Yuval Noah Harari, author of the critically-ac...","['Nonfiction', 'History', 'Science', 'Philosop...","Yuval Noah Harari, author of the critically-ac...",55,32k,https://www.goodreads.com/book/show/31138556-h...,NaN,NaN,NaN,NaN
7,The Shelters of Stone,Jean M. Auel,None,3.85,"46,846 ratings","1,448 reviews",The Shelters of Stone opens as Ayla and Jondal...,"['Historical Fiction', 'Fiction', 'Historical'...",The Shelters of Stone opens as Ayla and Jondal...,61,"3,739",https://www.goodreads.com/book/show/46544.The_...,NaN,NaN,NaN,NaN
12,God's Spy,Juan Gómez-Jurado,None,3.80,"5,298 ratings",515 reviews,"An instant bestseller in Spain, with rights so...","['Thriller', 'Fiction', 'Mystery', 'Crime', 'S...","In the days following the Pope’s death, a card...",55,"5,242",https://www.goodreads.com/book/show/681552.God...,NaN,NaN,NaN,NaN
20,Kristin Lavransdatter,Sigrid Undset,None,4.30,"11,166 ratings","1,472 reviews",In her great historical epic Kristin Lavransda...,"['Historical Fiction', 'Fiction', 'Classics', ...","As a young girl, Kristin is deeply devoted to ...",144,639,https://www.goodreads.com/book/show/6217.Krist...,NaN,NaN,NaN,NaN
108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/254308.Obl...,NaN,NaN,NaN,NaN
110,Washington Square,Henry James,None,3.70,"21,993 ratings","1,835 reviews",The plot of Washington Square has the simplici...,"['Classics', 'Fiction', '19th Century', 'Liter...",-- from the Introduction by Peter Conn,"3,335","3,254",https://www.goodreads.com/book/show/133954.Was...,NaN,NaN,NaN,NaN
169,Glass,Ellen Hopkins,None,4.29,"66,623 ratings","2,931 reviews",Crank. Glass. Ice. Crystal. Whatever you call ...,"['Young Adult', 'Poetry', 'Fiction', 'Contempo...",Kristina thinks she can control it. Now with a...,48,16.9k,https://www.goodreads.com/book/show/270804.Glass,NaN,NaN,NaN,NaN
179,The Penultimate Peril,Lemony Snicket,None,4.07,"102,499 ratings","2,901 reviews","Dear Reader,\nIf this is the first book you fo...","['Fiction', 'Young Adult', 'Childrens', 'Middl...","Dear Reader,",183,23.8k,https://www.goodreads.com/book/show/65110.The_...,NaN,NaN,NaN,NaN
213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/10.Harry_P...,NaN,NaN,NaN,NaN
233,Blue Like Jazz: Nonreligious Thoughts on Chris...,Donald Miller,None,3.90,"112,392 ratings","4,252 reviews",Librarian's note: See alternate cover edition ...,"['Nonfiction', 'Christian', 'Religion', 'Chris...","In Donald Miller's early years, he was vaguely...",123,"2,218",https://www.goodreads.com/book/show/7214.Blue_...,NaN,NaN,NaN,NaN

#### deal with rating_n, review_n

In [151]:
df['rating_n'] = df['rating_n'].str.split('r',expand=True)[0]
df['rating_n'] = df['rating_n'].fillna('0').str.replace(',', '').astype(int)

In [152]:
df['review_n'] = df['review_n'].str.split('r',expand=True)[0]
df['review_n'] = df['review_n'].fillna('0').str.replace(',', '').astype(int)

#### deal with author_followers

In [166]:
if 'k' in df['author_followers']:
    df['author_followers'] = df['author_followers'].str.replace('k','')
    df['author_followers'] = pd.to_numeric(df['author_followers'])*1000
# else:
#     df['author_followers'] = df['author_followers'].fillna('0').str.replace(',','').astype(float)

In [193]:
df.head()

,title,author,publieshed_date,rating,rating_n,review_n,introduction,genre,page,books_written_n,author_followers,link,published_year,published_month,published_day
0,Bloodfever,Karen Marie Moning,"First published October 16, 2007",4.25,"105,182 ratings","5,653 reviews",I used to think my sister and I were just two ...,"['Fantasy', 'Urban Fantasy', 'Paranormal', 'Ro...","303 pages, Hardcover",57,28.9k,https://www.goodreads.com/book/show/344262.Blo...,2007.0,10.0,16.0
1,Out of My Mind,Sharon M. Draper,"First published March 9, 2010",4.36,"148,434 ratings","16,559 reviews",Melody is not like most people. She cannot wal...,"['Realistic Fiction', 'Young Adult', 'Middle G...","295 pages, Hardcover",47,"3,200",https://www.goodreads.com/book/show/6609765-ou...,2010.0,3.0,9.0
2,"Life, the Universe and Everything",Douglas Adams,"First published December 29, 1982",4.18,"222,929 ratings","4,550 reviews",Now celebrating the 42nd anniversary of The H...,"['Science Fiction', 'Fiction', 'Humor', 'Fanta...","224 pages, Paperback",129,21.6k,https://www.goodreads.com/book/show/8694.Life_...,1982.0,12.0,29.0
3,The Pelican Brief,John Grisham,"First published February 15, 1992",4.04,"417,662 ratings","3,216 reviews",In suburban Georgetown a killer's Reeboks whis...,"['Fiction', 'Mystery', 'Thriller', 'Crime', 'S...","400 pages, Paperback",481,74.7k,https://www.goodreads.com/book/show/32499.The_...,1992.0,2.0,15.0
4,Going Postal,Terry Pratchett,"First published January 1, 2004",4.39,"117,456 ratings","4,001 reviews",Moist von Lipwig was a con artist and a fraud ...,"['Fantasy', 'Fiction', 'Humor', 'Comedy', 'Sci...","394 pages, Mass Market Paperback",506,40.3k,https://www.goodreads.com/book/show/64222.Goin...,2004.0,1.0,1.0

In [158]:
if 'k' in df['author_followers']:
    df['author_followers'] = df['author_followers'].str.replace('k', '').astype(float)
    df['author_followers'] = df['author_followers']*1000
else:
    df['author_followers'] = df['author_followers'].fillna('0').str.replace(',','').astype(int)

ValueError: invalid literal for int() with base 10: '28.9k'

In [136]:
df['author_followers'].value_counts(dropna=False)

NaN      2219
816.0      35
40.3       31
14.5       28
11.0       25
         ...
393.0       1
461.0       1
789.0       1
906.0       1
620.0       1
Name: author_followers, Length: 842, dtype: int64

In [132]:
df.head()

,title,author,publieshed_date,rating,rating_n,review_n,introduction,genre,page,books_written_n,author_followers,link,published_year,published_month,published_day
0,Bloodfever,Karen Marie Moning,"First published October 16, 2007",4.25,105182,5653,I used to think my sister and I were just two ...,"['Fantasy', 'Urban Fantasy', 'Paranormal', 'Ro...","303 pages, Hardcover",57,28.9,https://www.goodreads.com/book/show/344262.Blo...,2007.0,10.0,16.0
1,Out of My Mind,Sharon M. Draper,"First published March 9, 2010",4.36,148434,16559,Melody is not like most people. She cannot wal...,"['Realistic Fiction', 'Young Adult', 'Middle G...","295 pages, Hardcover",47,NaN,https://www.goodreads.com/book/show/6609765-ou...,2010.0,3.0,9.0
2,"Life, the Universe and Everything",Douglas Adams,"First published December 29, 1982",4.18,222929,4550,Now celebrating the 42nd anniversary of The H...,"['Science Fiction', 'Fiction', 'Humor', 'Fanta...","224 pages, Paperback",129,21.6,https://www.goodreads.com/book/show/8694.Life_...,1982.0,12.0,29.0
3,The Pelican Brief,John Grisham,"First published February 15, 1992",4.04,417662,3216,In suburban Georgetown a killer's Reeboks whis...,"['Fiction', 'Mystery', 'Thriller', 'Crime', 'S...","400 pages, Paperback",481,74.7,https://www.goodreads.com/book/show/32499.The_...,1992.0,2.0,15.0
4,Going Postal,Terry Pratchett,"First published January 1, 2004",4.39,117456,4001,Moist von Lipwig was a con artist and a fraud ...,"['Fantasy', 'Fiction', 'Humor', 'Comedy', 'Sci...","394 pages, Mass Market Paperback",506,40.3,https://www.goodreads.com/book/show/64222.Goin...,2004.0,1.0,1.0

In [133]:
df.dtypes

title                object
author               object
publieshed_date      object
rating              float64
rating_n              int32
review_n              int32
introduction         object
genre                object
page                 object
books_written_n      object
author_followers    float64
link                 object
published_year      float64
published_month     float64
published_day       float64
dtype: object

In [134]:
df.isna().sum()

title                 38
author                38
publieshed_date       57
rating                38
rating_n               0
review_n               0
introduction          67
genre                 38
page                  48
books_written_n       39
author_followers    2219
link                   0
published_year       404
published_month      404
published_day        222
dtype: int64

#### deal with page